services:
  mongo:
    image: mongo:6.0.6
    container_name: drama_mongo
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
    volumes:
      - ./volumes/mongo:/data/db
    restart: always
  rabbit:
    image: rabbitmq:3.8.14-management
    container_name: drama_rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: rabbit
      RABBITMQ_DEFAULT_VHOST: /
    ports:
      - "15672:15672"
      - "5672:5672"
    volumes:
      - ./volumes/rabbitmq:/var/lib/rabbitmq
    restart: always
  minio:
    image: quay.io/minio/minio:RELEASE.2023-06-09T07-32-12Z
    container_name: drama_minio
    environment:
      MINIO_ACCESS_KEY: minio
      MINIO_SECRET_KEY: minio123
    command: server --console-address ":9001" /data
    ports:
      - "19000:9000"
      - "19001:9001"
    volumes:
      - ./volumes/data:/data
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:19000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
    restart: always