name: CICD-pipeline

# Se activa en Pushes a ramas principales y en Pull Requests
on:
  push:
    branches: [ "main", "dev" ]

jobs:
  quality-check:
    name: CI-pipeline ${{ matrix.python-version }}
    environment: ${{ github.ref_name }}
    runs-on: ${{ github.ref_name == 'main' && fromJSON('["self-hosted", "prod"]') || fromJSON('["self-hosted", "dev"]') }}
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-suffix: "python-${{ matrix.python-version }}"

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --all-extras

      - name: Lint with Ruff
        run: |
          echo "Running Ruff Linter..."
          uv run ruff check .
          
          echo "Checking Code Formatting..."
          uv run ruff format --check .

      - name: Test with pytest
        run: uv run pytest

  build-and-deploy:
    needs: quality-check
    if: success()
    name: CD-pipeline
    environment: ${{ github.ref_name }}
    runs-on: ${{ github.ref_name == 'main' && fromJSON('["self-hosted", "prod"]') || fromJSON('["self-hosted", "dev"]') }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.sha }}

      - name: Install Registry Certificate
        run: |
          REGISTRY_DOMAIN=${{ secrets.DOCKER_REGISTRY_IP }}:${{ secrets.DOCKER_REGISTRY_PORT }}
          CERT_DOCKER_PATH="/etc/docker/certs.d/$REGISTRY_DOMAIN/ca.crt"
          CERT_CA_PATH="/etc/docker/certs.d/$REGISTRY_DOMAIN/ca.crt"
          if [ ! -f "$CERT_DOCKER_PATH" ]; then
            sudo mkdir -p $(dirname $CERT_DOCKER_PATH)
            echo "${{ secrets.REGISTRY_CERT }}" | sudo tee $CERT_DOCKER_PATH > /dev/null
            sudo update-ca-certificates
          fi

      - name: Log in to docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY_IP }}:${{ secrets.DOCKER_REGISTRY_PORT }}
          username: ${{ secrets.DOCKER_REGISTRY_USER }}
          password: ${{ secrets.DOCKER_REGISTRY_PWD }}

      - name: Build and push app imagen
        run: |
          IMAGE_NAME="${{ secrets.DOCKER_REGISTRY_IP }}:${{ secrets.DOCKER_REGISTRY_PORT }}/${{ secrets.DOCKER_REGISTRY_PROJECT }}/dramax"
          SHORT_SHA=$(echo "${{ github.sha }}" | cut -c1-7)
          docker build \
            -t $IMAGE_NAME:${{ github.ref_name }} \
            -t $IMAGE_NAME:$SHORT_SHA .
          docker push $IMAGE_NAME:${{ github.ref_name }}
          docker push $IMAGE_NAME:$SHORT_SHA
      
      - name: Deploy app
        run: |          
          docker compose -p "titan" -f ${{ secrets.PATH_TO_COMPOSE }} pull
          docker compose -p "titan" -f ${{ secrets.PATH_TO_COMPOSE }} up -d --force-recreate --remove-orphans
          docker image prune -f
    